ul.library {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: start;
}

ul.library li {
    display: inline-grid;
    padding: 10px;
    border: solid thin transparent;
}

ul.library li:hover {
    border: solid thin lightgray;
}

ul.library li p {
    display: inline;
    text-align: center;
}

ul.library li img {
    display: block;
    margin: 5px auto;
}

.book-description {
    background: white;
    padding: 1px 40px 10px 40px;
    border-style: none solid;
    border-width: thin;
    border-color: #bdbdbd;
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 0 3px 23px rgba(0,0,0,0.5);
}

.book-description-container {
    width: 840px;
    margin: 20px auto;
}

.download-area {
    text-align: right;
}

.book-description-container ul {
    padding: 0;
}

.book-description img[align="left"] {
    margin: 0 20px 0 0;
}

.book-description img[align="right"] {
    margin: 0 0 0 20px;
}

.book-description img {
    max-width: 100%;
}
