ul.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    align-content: start;
    padding: 10px;
}

ul.library li {
    display: inline-grid;
    padding: 10px;
    border: solid thin transparent;
}

ul.library li:hover {
    border: solid thin lightgray;
}

ul.library li p {
    display: inline;
    text-align: center;
}

ul.library li img {
    display: block;
    margin: 5px auto;
}

.book-description {
    background: white;
    padding: 1px 40px 10px 40px;
    border-style: none solid;
    border-width: thin;
    border-color: #bdbdbd;
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 0 3px 23px rgba(0,0,0,0.5);
}

.book-description table {
    border-spacing: 0;
    border-collapse: collapse;
}

.book-description img {
    max-width: 100% !important;
    height: auto !important;
}

.book-description table td {
    border: solid 1px #bdbdbd;
}

.book-description-container .book-description ul {
    padding-left: 50px;
}

.book-description p {
    text-indent: 10px;
}

.book-description li p {
    text-indent: 0 !important;
}

.book-description ul div {
    padding-left: 20px;
}

.book-description-container {
    max-width: 840px;
    margin: 20px auto;
}

.download-area {
    text-align: right;
    line-height: 60px;
}

.book-description-container ul {
    padding: 0;
}

.book-description img[align="left"] {
    margin: 0 20px 0 0;
}

.book-description img[align="right"] {
    margin: 0 0 0 20px;
}

.book-description img {
    max-width: 100%;
}
