<Table Width="160pt" Border="0" CellSpacing="0" CellPadding="2">
    <Tr height=33pt valign="center"><Td Align="Center"><p> <br></p><A Href="np/20_let/NP20.html" class=v_menu><img src=20_let.jpg Width=155 Height=34><br><font size="-2">&nbsp;&nbsp;</font></A></Td></Tr>
    <Tr height=33pt valign="center"><Td Align="Center" bgcolor="red"><A Href="prog_fpr.html" class=v_menu><font size="-2" color="White">Программа Федерации<br> профсоюзов России —<br>Задачи <br> коллективных действий</font></A></Td></Tr>
    <Tr height=33pt valign="center"><Td Align="Center"><A Href="prog_fpr.html" class=v_menu><font size="-2" color="White">Программа</font></A></Td></Tr>
    <Tr height=33pt valign="center"><Td Align="Center"><A Href="Lenin/confer.html" class=v_menu><img src=Leninb.jpg Width=155 Height=100><br><font size="-2">ЕЖЕГОДНАЯ МЕЖДУНАРОДНАЯ КОНФЕРЕНЦИЯ «ЛЕНИН В СОВРЕМЕННОМ МИРЕ»</font></A></Td></Tr>
    <Tr height=33pt valign="center"><Td Align="Center"><A Href="nr/nr.html" class=v_menu><img src=nr.jpg Width=155 Height=125><br><font size="-2">ПРОЕКТЫ&nbsp; ЗАКОНОВ НОВОРОССИИ</font></A></Td></Tr>
    <Tr height=33pt valign="center"><Td Align="Center"><p> <br></p><A Href="lib/sbornik.html" class=v_menu><img src=sbornik.jpg Width=155 Height=213><br><font size="-2"></font></A></Td></Tr>
    <Tr height=33pt valign="center"><Td BGCOLOR=FFF8DC Align="Center"><A Href="index.html" class=v_menu> </A></Td></Tr>
    <Tr height=77pt valign="center"><Td BGCOLOR=FFF8DC Align="Center"><A Href="fra/fra.html" class=v_menu>О ФОНДЕ<br>РАБОЧЕЙ АКАДЕМИИ</A></Td></Tr>
    <Tr height=33pt valign="center"><Td align=Center BGCOLOR=FFF8DC><A Href="public/public.html" class=v_menu>ПУБЛИЦИСТИКА</A></Td></Tr>
    <Tr height=33pt valign="center"><Td align=Center BGCOLOR=FFF8DC><A Href="lib/lib.html" class=v_menu>БИБЛИОТЕКА</A></Td></Tr>
    <Tr height=33pt valign="center"><Td align=Center BGCOLOR=FFF8DC><A Href="audio/audio.html" class=v_menu>АУДИОЗАПИСИ</A></Td></Tr>
    <Tr height=33pt valign="center"><Td align=Center BGCOLOR=FFF8DC><A Href="video/video.html" class=v_menu>ВИДЕОТЕКА</A></Td></Tr>
    <Tr height=33pt valign="center"><Td align=Center BGCOLOR=FFF8DC><A Href="kb3/kb3.html" class=v_menu>ЗАЩИТА ОТЕЧЕСТВА</A></Td></Tr>
    <Tr height=11pt valign="center"> <Td ><B></B></Td>
    <Tr height=33pt valign="center"> <Td align=Center BGCOLOR=Red><B>РАБОЧЕЕ ДВИЖЕНИЕ</B></Td>
    <Tr height=77pt valign="center"><Td align=Center BGCOLOR=ADD8E6><A Href="rkr/rkr.html" class=v_menu>РОССИЙСКИЙ КОМИТЕТ РАБОЧИХ</A></Td></Tr>
    <Tr height=77pt valign="center"><Td align=Center BGCOLOR=ADD8E6><A Href="actions/actions.html" class=v_menu>ОПЫТ КОЛЛЕКТИВНЫХ ДЕЙСТВИЙ</A></Td></Tr>
    <Tr height=55pt valign="center"><Td align=Center BGCOLOR=ADD8E6><A Href="kts/kts.html" class=v_menu>КОЛЛЕКТИВНЫЕ ТРУДОВЫЕ СПОРЫ</A></Td></Tr>
    <Tr height=55pt valign="center"><Td align=Center BGCOLOR=ADD8E6><A Href="kd/kd.html" class=v_menu>КОЛЛЕКТИВНЫЕ ДОГОВОРА</A></Td></Tr>
    <Tr height=77pt valign="center"><Td align=Center BGCOLOR=ADD8E6><A Href="ipd/ipd.html" class=v_menu>ИНСТИТУТ ПРОФСОЮЗНОГО ДВИЖЕНИЯ</A></Td></Tr>
    <Tr height=33pt valign="center"> <Td align=Center><A Href="http://rpw-mos.ru/"><img src="rpw-mos.png" Width=155 Height=68></A></Td></Tr>
    <Tr height=81pt valign="center"> <Td align=Center><a href="fpr/fpr.html"> <img src="fpr.jpg" width=125 height=70 border=0></a></Td></Tr>
    <Tr height=101pt valign="center"> <Td align=Center><a href="http://www.fatcurus.ru"> <img src="fpad.jpg" width=100 height=100 border=0></a></Td></Tr>
    <Tr height=101pt valign="center"> <Td align=Center><a href="rpd/rpd.html"> <img src="rpd.gif" width=100 height=100 border=0></a></Td></Tr>
    <Tr height=101pt valign="center"> <Td align=Center><a href="http://www.zashita-truda.narod.ru"> <img src="zt.gif" width=100 height=50 border=1></a></Td></Tr>
    <Tr height=101pt valign="center"> <Td align=Center><a href="http://www.trud.org"> <img src="trud100x100.gif" width=100 height=100 border=0></a></Td></Tr>
    <Tr height=101pt valign="center"> <Td align=Center><a href="http://doker.clan.su"> <img src="portovik.jpg" width=100 height=130 border=1></a></Td></Tr>
    <Tr height=21pt valign="center"> <Td ><B></B></Td>
    <Tr height=33pt valign="center"> <Td align=Center BGCOLOR=Red><B>СРЕДСТВА <br>МАССОВОЙ ИНФОРМАЦИИ</B></Td></Tr>
    <Tr height=37pt valign="center"> <Td align=Center><a href="http://www.len.ru" target="new"><img src="http://www.len.ru/images/banner2.gif" border="0" alt="Ленинградское интернет-ТВ"></a></Td></Tr>
    <Tr height=33pt valign="center"> <Td align=Center><A Href="np/index.html"><img src="np_bann.gif" Alt="Баннер Народной правды" Width=155 Height=40></A></Td></Tr>
    <Tr height=33pt valign="center"> <Td align=Center><A Href="zrd/index.html"><img src="zrd_bann.gif" Alt="Баннер За рабочее дело" Width=155 Height=40></A></Td></Tr>
    <Tr height=33pt valign="center"> <Td align=Center><A Href="pt/index.html"><img src="pt.jpg" Alt="Баннер Правды труда" Width=155 Height=40></A></Td></Tr>
    <Tr height=33pt valign="center"> <Td align=Center><a href="http://www.dvinainform.ru"> <img src="dvinainf.jpg" width=125 height=55 border=0></a></Td></Tr>
    <Tr height=21pt valign="center"> <Td ><B></B></Td>
    <Tr height=33pt valign="center"> <Td align=Center BGCOLOR=Red><B>ПАРТИЙНАЯ ЖИЗНЬ</B></Td>
    <Tr height=37pt valign="center"> <Td align=Center><a href="http://r-p-w.ru/" target="new"><img src="logosrpr.png" border="0" alt="Сайт Рабочей партии России"></a></Td></Tr>
    <Tr height=33pt valign="center"><Td align=Center BGCOLOR=FFB6C1><A Href="rpr/inf.html" class=v_menu>ИНФОРМАЦИЯ</A></Td></Tr>
    <Tr height=77pt valign="center"><Td align=Center BGCOLOR=FFB6C1><A Href="rpr/program.html" class=v_menu>ПРОГРАММА РАБОЧЕЙ ПАРТИИ РОССИИ</A></Td></Tr>
    <Tr height=77pt valign="center"><Td align=Center BGCOLOR=FFB6C1><A Href="rpr/ustav.html" class=v_menu>УСТАВ <br>РАБОЧЕЙ ПАРТИИ РОССИИ</A></Td></Tr>
    <Tr height=33pt valign="center"><Td align=Center BGCOLOR=FFB6C1><A Href="rpr/doc.html" class=v_menu>ДОКУМЕНТЫ СЪЕЗДОВ</A></Td></Tr>
</Table>
