<div class="sidebar">
    <div class="logo">Фонд Рабочей Академии</div>
    <a href="../index.html" class=v_menu>ГЛАВНАЯ</a>
    <a href="../fra/fra.html" class=v_menu>О ФОНДЕ РАБОЧЕЙ АКАДЕМИИ</a>
    <a href="../public/public.html" class=v_menu>ПУБЛИЦИСТИКА</a>
    <a href="../lib/lib.html" class=v_menu>БИБЛИОТЕКА</a>
    <a href="../audio/audio.html" class=v_menu>АУДИОЗАПИСИ</a>
    <a href="../video/video.html" class=v_menu>ВИДЕОТЕКА</a>

    <a class="sidebar-section-title"><b>РАБОЧЕЕ ДВИЖЕНИЕ</b> </a>
    <section class="sidebar-section">
     <a href="../rkr/rkr.html" class=v_menu>РОССИЙСКИЙ КОМИТЕТ РАБОЧИХ</a>
     <a href="../actions/actions.html" class=v_menu>ОПЫТ КОЛЛЕКТИВНЫХ ДЕЙСТВИЙ</a>
     <a href="../kts/kts.html" class=v_menu>КОЛЛЕКТИВНЫЕ ТРУДОВЫЕ СПОРЫ</a>
     <a href="../kd/kd.html" class=v_menu>КОЛЛЕКТИВНЫЕ ДОГОВОРА</a>
     <a href="../ipd/ipd.html" class=v_menu>ИНСТИТУТ ПРОФСОЮЗНОГО ДВИЖЕНИЯ</a>

        <a href="http://www.fprof.ru" class="v_menu image">
            <img src="../fpr.jpg">
            <span class="centered-container"><span class="centered">ФП РОССИИ</span></span>
        </a>


        <a href="http://www.fatcurus.ru" class="v_menu image">
            <img src="../fpad.jpg">
            <span class="centered-container"> <span class="centered">ФПАД РОССИИ</span> </span>
        </a>


        <a href="../rpd/rpd.html" class="v_menu image"><img src="../rpd.gif" >
            <span class="centered-container"> <span class="centered">ПРОФСОЮЗ ДОКЕРОВ</span> </span>
        </a>

    </section>

    <a class="sidebar-section-title"><b>ПРЕССА</b></a>
    <section class="sidebar-section">
     <a href="../np/index.html" class="image"><img src="../np_bann.gif" Alt="Баннер Народной правды"></a>
     <a href="../zrd/index.html" class="image"><img src="../zrd_bann.gif" Alt="Баннер За рабочее дело"></a>
     <a href="../pt/index.html" class="image"><img src="../pt.jpg" Alt="Баннер Правды труда"></a>
    </section>

    <a class="sidebar-section-title"><b>ПАРТИЙНАЯ ЖИЗНЬ</b> </a>
    <section class="sidebar-section">
     <a href="../rpr/inf.html" class=v_menu>ИНФОРМАЦИЯ</a>
     <a href="../rpr/program.html" class=v_menu>ПРОГРАММА РАБОЧЕЙ ПАРТИИ РОССИИ</a>
     <a href="../rpr/ustav.html" class=v_menu>УСТАВ  РАБОЧЕЙ ПАРТИИ РОССИИ</a>
     <a href="../rpr/doc.html" class=v_menu>ДОКУМЕНТЫ СЪЕЗДОВ</a>
    </section>
</div>

<script>
    $(document).ready(function(){
        // Route highlight
        $('.v_menu').each(function(){
            if($(this).get(0).href == window.location){
                $(this).addClass('active')
            }
        });

        $('.sidebar-section-title').on('click', function(){
            $(this).next().toggle();
        })
    });

</script>
