<div class="sidebar">
    <div><a href="../index.html" class=v_menu>ГЛАВНАЯ</a></div>
    <div><a href="../about.html" class=v_menu>О ФОНДЕ РАБОЧЕЙ АКАДЕМИИ</a></div>
    <div><a href="../public/public.html" class=v_menu>ПУБЛИЦИСТИКА</a></div>
    <div><a href="../lib/lib.html" class=v_menu>БИБЛИОТЕКА</a></div>
    <div><a href="../audio/audio.html" class=v_menu>АУДИОЗАПИСИ</a></div>
    <div><a href="../video/video.html" class=v_menu>ВИДЕОТЕКА</a></div>

    <div class="sidebar-section-title"><b>РАБОЧЕЕ ДВИЖЕНИЕ</b></div>
    <section class="sidebar-section">
        <div><a href="../rkr/rkr.html" class=v_menu>РОССИЙСКИЙ КОМИТЕТ РАБОЧИХ</a></div>
        <div><a href="../actions/actions.html" class=v_menu>ОПЫТ КОЛЛЕКТИВНЫХ ДЕЙСТВИЙ</a></div>
        <div><a href="../kts/kts.html" class=v_menu>КОЛЛЕКТИВНЫЕ ТРУДОВЫЕ СПОРЫ</a></div>
        <div><a href="../kd/kd.html" class=v_menu>КОЛЛЕКТИВНЫЕ ДОГОВОРА</a></div>
        <div><a href="../ipd/ipd.html" class=v_menu>ИНСТИТУТ ПРОФСОЮЗНОГО ДВИЖЕНИЯ</a></div>
        <div>
            <a href="http://www.fprof.ru" class="v_menu image">
                <img src="../fpr.jpg">
                <span class="centered-container"><span class="centered">ФП РОССИИ</span></span>
            </a>
        </div>
        <div>
            <a href="http://www.fatcurus.ru" class="v_menu image">
                <img src="../fpad.jpg">
                <span class="centered-container"> <span class="centered">ФПАД РОССИИ</span> </span>
            </a>
        </div>
        <div>
            <a href="../rpd/rpd.html" class="v_menu image"><img src="../rpd.gif" >
                <span class="centered-container"> <span class="centered">ПРОФСОЮЗ ДОКЕРОВ</span> </span>
            </a>
        </div>
    </section>

    <div class="sidebar-section-title"><b>ПРЕССА</b></div>
    <section class="sidebar-section">
        <div><a href="../np/index.html" class="image"><img src="../np_bann.gif" Alt="Баннер Народной правды"></a></div>
        <div><a href="../zrd/index.html" class="image"><img src="../zrd_bann.gif" Alt="Баннер За рабочее дело"></a></div>
        <div><a href="../pt/index.html" class="image"><img src="../pt.jpg" Alt="Баннер Правды труда"></a></div>
    </section>

    <div class="sidebar-section-title"><b>ПАРТИЙНАЯ ЖИЗНЬ</b></div>
    <section class="sidebar-section">
        <div><a href="../rpr/inf.html" class=v_menu>ИНФОРМАЦИЯ</a></div>
        <div><a href="../rpr/program.html" class=v_menu>ПРОГРАММА РАБОЧЕЙ ПАРТИИ РОССИИ</a></div>
        <div><a href="../rpr/ustav.html" class=v_menu>УСТАВ  РАБОЧЕЙ ПАРТИИ РОССИИ</a></div>
        <div><a href="../rpr/doc.html" class=v_menu>ДОКУМЕНТЫ СЪЕЗДОВ</a></div>
    </section>
</div>
